<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
	<property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>
    <property name="connection.connection_string">
      Server=127.0.0.1;Port=5432;User Id=postgres;Password=postgres;database=accountDB
    </property>
	<property name="use_proxy_validator">true</property>
  </session-factory>
</hibernate-configuration>